@model List<BlogViewModel>
@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <div class="col-md-10 offset-md-1">
        <form asp-action="Search">
            <div class="mb-3">
                <label>Search(Title,Content)</label>
                <input value="@ViewBag.SearchText" name="searchText" class="form-control" />
            </div>
            <button type="submit">Search</button>
        </form>
        @if(!Model.Any())
        {
            <div class="alert alert-warning">
                Eşleşen kayıt bulunmamaktadır.
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>UserId</th>
                        <th>Tags</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>
                            <td>@item.UserId</td>
                            <td>@item.Tags</td>
                            <td>@item.Created</td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        }
    </div>
</div>

